<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CAS Project Setup</title>
  </head>
  <body>
    <div class="jumbotron">
        <h1 class="display-4">Willkommen zur Erinnerungsmaschine</h1>
        <p class="lead">Willkommen zur Zukunft der Erinnerungen! Unsere Erinnerungsmaschine ist mehr als nur eine Sammlung von Momenten - sie ist ein Tor zu Ihrer persönlichen Zeitreise. Mit modernster Technologie und einem Hauch von Magie laden wir Sie ein, die Vergangenheit zu erkunden, Ihre schönsten Momente neu zu erleben und verlorene Erinnerungen wiederzuentdecken. Tauchen Sie ein in die Welt der unendlichen Erinnerungen und lassen Sie sich von unserer Erinnerungsmaschine auf eine Reise durch Ihre Lebensgeschichte führen.</p>
        <hr class="my-4">
        <p>Lass dir helfen.</p>
        <a class="btn btn-primary btn-lg" href="/mockups.pdf" role="button">Our mockups</a>
        <a class="btn btn-primary btn-lg" href="/coach/daniel/chat" role="button">Zur Erinnerungsmaschine</a>
      </div>
  </body>
</html>
